<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/style.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/magnific-popup.css" type="text/css" />
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="../../assets/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>247 Studio - Bahia Blanca</title>

</head>

<body class="stretched dark">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{{{ body }}}

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">
					
					<div class="col_half">
						 &copy; 247 Studio - Bahía Blanca<br>
						<div class="copyright-links"><a href="#">Actualidad</a> / <a href="#">Trayectoria</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> 	247studioar@gmail.com <span class="middot">&middot;</span> <i class="icon-phone"></i> +54 9 11 5964-9188 
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="../../assets/js/jquery.js"></script>
	<script src="../../assets/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="../../assets/js/functions.js"></script>

</body>
</html>