<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/style.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/css/magnific-popup.css" type="text/css" />
  <link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="../../assets/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>247 Studio - Bahia Blanca</title>

</head>

<body class="stretched dark">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{{{ body }}}

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row">	
						<div class="col-lg-5 col-12">

							<div class="widget clearfix">

								<p><strong>247 Studio</strong> - Bahía Blanca</p>
							
								<div>
									<abbr title="Phone Number"><strong>Teléfono:</strong></abbr> +54 9 11 5964-9188<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> 247studio@gmail.com
								</div>

								<a href="https://www.facebook.com/247studioar/" class="social-icon si-small si-rounded topmargin-sm si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="https://www.instagram.com/247studioar/" class="social-icon si-small si-rounded topmargin-sm si-instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
								<a href="https://www.youtube.com/channel/UCOj7RuJZyctP_irQHvZ7QLQ" class="social-icon si-small si-rounded topmargin-sm si-youtube">
									<i class="icon-youtube"></i>
									<i class="icon-youtube"></i>
								</a>

							</div>

						</div>	

						<div class="col-lg-2 web-map">
							<ul>
								<a href="/"><li>Home</li></a>
								<a href="/actualidad"><li>Actualidad</li></a>
								<a href="/trayectoria"><li>Trayectoria</li></a>
								<a href="/escuela"><li>Escuela de DJ</li></a>
								<a href="/salas"><li>Salas de Ensayo</li></a>
								<a href="/produccion"><li>Producción de Eventos</li></a>
								<a href="/alquiler"><li>Alquiler de Equipos</li></a>
								<a href="/roster"><li>Roster</li></a>
								<a href="/contacto"><li>Contacto</li></a>								
							</ul>
						</div>	
							
						<div class="col-lg-2 offset-lg-3 col-6 topmargin-sm">
							<img src="../../assets/images/logo-atenea.png">
						</div>
					</div>
				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="../../assets/js/jquery.js"></script>
	<script src="../../assets/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="../../assets/js/functions.js"></script>

</body>
</html>