<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-bars"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="247 Studio Logo"></a>						
            			<a href="/" class="retina-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">
					
						<ul>
							<li><a href="/">
									<div>Home</div>
								</a></li>
							<li><a href="#">
									<div>Estudio</div>
								</a>
								<ul>
									<li><a href="/actualidad">
											<div><i class="icon-compact-disc"></i>Actualidad</div>
										</a></li>
									<li><a href="/trayectoria">
											<div><i class="icon-headphones"></i>Trayectoria</div>
										</a></li>
								</ul>
							</li>
							<li class="current"><a href="#">
									<div>Servicios</div>
								</a>
								<ul>
									<li><a href="/escuela">
											<div><i class="icon-vynil"></i>Escuela de DJ</div>
										</a></li>
									<li><a href="/salas">
											<div><i class="icon-volume"></i>Salas de Ensayo</div>
										</a></li>
									<li><a href="/produccion">
											<div><i class="icon-calendar-alt"></i>Producción de Eventos</div>
										</a></li>
									<li><a href="/alquiler">
											<div><i class="icon-dollar-sign"></i>Alquiler de Equipos</div>
										</a></li>
								</ul>
							</li>
							<li><a href="/roster">
									<div>Roster</div>
								</a></li>
							<li><a href="/contacto">
									<div>Contacto</div>
								</a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									
                                    <h2 data-animate="fadeInUp">Escuela de DJ</h2>
								</div>
							</div>
							<div class="video-wrap">
								<video id="slide-video" preload="auto" loop autoplay muted>
									<source src='../../assets/images/final247/videos/video2.mp4' type='video/mp4' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
					</div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="nobottommargin">

						<div class="fancy-title title-bottom-border">
							<h3>Curso Inicial</h3>
						</div>

						<p>Este curso tiene como objetivo formar a aquel alumno sin conocimientos musicales previos en los aspectos técnicos y artísticos necesarios para desenvolverse de manera profesional. </p>

						<div class="accordion accordion-bg clearfix">

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Temario</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-ok"></i>Desarrollo de criterio musical: introducción teorico-practica sobre armonía, concepto de
										Groove y congruencia musical.</li>
									<li><i class="icon-ok"></i> Familiarización con el equipamiento: funciones básicas, intermedias y avanzadas de
										todos los equipos disponibles en el estudio. Técnicas creativas para la utilización de
										todo el equipamiento.
									</li>
									<li><i class="icon-ok"></i>Utilización de Software Rekordbox (Pioneer) para administrar tu música: Playlists, Tabs,
										Valorizaciones, Cue Points, Loops, Grid.
									</li>
									<li><i class="icon-ok"></i>Criterios para el armado de tu Set: criterios de selección musical.
									</li>
									<li><i class="icon-ok"></i>Descarga de música digital: donde descargo, como descargo, formatos de descarga
										(pros y contras).
									</li>
									<li><i class="icon-ok"></i>Conocimientos técnicos de cabina: conexiones, cableados, diferentes sistemas de
										audios.
									</li>
									<li><i class="icon-ok"></i>Técnicas de mezcla y ecualización: diferentes tipos de mezcla según el genero musical
										<strong>elegido por el alumno.</strong> </li>
								</ul>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Equipamiento
								disponible para este curso</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-plus-sign"></i>-CDJ’S: Pioneer XDJ 1000 MK2
									</li>
									<li><i class="icon-plus-sign"></i>Mixer: A&H XONE 43 </li>
								</ul>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Datos del
								curso</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-ok"></i>Carga horaria: 2 clases semanales de 1h30min c/u.
									</li>
									<li><i class="icon-ok"></i> Duración del curso: 4 meses / 48hs.
							
									</li>
									<li><i class="icon-ok"></i>Costo: $4000 por mes.
									</li>
								</ul>
							</div>
							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Beneficios</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-plus-sign"></i>Accediendo a este curso tiene derecho a 2hs por mes en la sala de ensayo del estudio.

									</li>
									<li><i class="icon-plus-sign"></i>Consulta las promociones dependiendo del método de pago.</li>
								</ul>
							</div>
						</div>

						<a href="/contacto" class="button button-3d button-black nomargin">Consultar</a>

						<div class="divider divider-short"><i class="icon-vynil"></i></div>

						<div class="fancy-title title-bottom-border">
							<h3>Curso Avanzado</h3>
						</div>

						<p>Este curso tiene como objetivo principal ampliar detalladamente todos los aspectos
							de un DJ profesional, conocimiento y manipulación del setup estándar de los mejores
							clubs y festivales del mundo.
						</p>

						<div class="accordion accordion-bg clearfix">

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Temario</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-ok"></i>Funciones y herramientas avanzadas de CDJ’s y mixer.</li>
									<li><i class="icon-ok"></i> Clases de mezcla avanzadas: criterios de mezcla, utilización de vocals y breaks,
										entre otros, en vivo.
									</li>
									<li><i class="icon-ok"></i><strong>Clases de mezcla a 3 compacteras.</strong>
									</li>
									<li><i class="icon-ok"></i>Pioneer RMX1000: conocimiento y utilización de la Remix Station, desarrollaremos
										tu potencial creativo basándonos en lo que quieras lograr con tus sets en vivo.
									</li>
								
								</ul>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Equipamiento
								disponible para este curso</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-plus-sign"></i>CDJ’s: Pioneer CDJ 2000NEXUS
									</li>
									<li><i class="icon-plus-sign"></i>Mixer: A&H XONE 92</li>
									<li><i class="icon-plus-sign"></i>Banco de efectos: Pioneer RMX 1000</li>
								</ul>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Datos del
								curso</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-ok"></i>Carga horaria: 2 clases semanales de 1h30min c/u.
									</li>
									<li><i class="icon-ok"></i> Duración del curso: 2 meses / 24hs.
							
									</li>
									<li><i class="icon-ok"></i>Costo: $4500 por mes.
									</li>
								</ul>
							</div>
							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Beneficios</div>
							<div class="acc_content clearfix">
								<ul class="iconlist iconlist-color nobottommargin">
									<li><i class="icon-plus-sign"></i>Accediendo a este curso tiene derecho a 2hs por mes en la sala de ensayo del estudio.

									</li>
									<li><i class="icon-plus-sign"></i>Consulta las promociones dependiendo del método de pago.</li>
								</ul>
							</div>
						</div>

						<a href="/contacto" class="button button-3d button-black nomargin">Consultar</a>

					</div>


				</div>

                <div id="calltoaction" class="section nobottommargin ">
                    <div class="container clear-bottommargin clearfix">
                
                        <div class="row clearfix">
                            <div class="col-12 col-md-10">
                                <p class="lead"><strong>Ofrecemos al artista que busca crecer un abanico de recursos y oportunidades para abrirse camino en el mundo de la música.</strong></p>
                            </div>
                            <div class="col-12 col-md-2">
                                <a href="/contacto" id="contactCallToAction" class="button button-border button-dark button-rounded button-large noleftmargin">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>            
			</div>

		</section><!-- #content end -->