<!-- Header
		============================================= -->
		<header id="header" class="transparent-header full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-bars"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="247 Studio Logo"></a>						
            			<a href="/" class="retina-logo" data-dark-logo="../../assets/images/logo-dark.png"><img src="../../assets/images/logo-dark.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">
					
						<ul>
							<li><a href="/">
									<div>Home</div>
								</a></li>
							<li><a href="#">
									<div>Estudio</div>
								</a>
								<ul>
									<li><a href="/actualidad">
											<div><i class="icon-compact-disc"></i>Actualidad</div>
										</a></li>
									<li><a href="/trayectoria">
											<div><i class="icon-headphones"></i>Trayectoria</div>
										</a></li>
								</ul>
							</li>
							<li class="current"><a href="#">
									<div>Servicios</div>
								</a>
								<ul>
									<li><a href="/escuela">
											<div><i class="icon-vynil"></i>Escuela de DJ</div>
										</a></li>
									<li><a href="/salas">
											<div><i class="icon-volume"></i>Salas de Ensayo</div>
										</a></li>
									<li><a href="/produccion">
											<div><i class="icon-calendar-alt"></i>Producción de Eventos</div>
										</a></li>
									<li><a href="/alquiler">
											<div><i class="icon-dollar-sign"></i>Alquiler de Equipos</div>
										</a></li>
								</ul>
							</li>
							<li><a href="/roster">
									<div>Roster</div>
								</a></li>
							<li><a href="/contacto">
									<div>Contacto</div>
								</a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									
                                    <h2 data-animate="fadeInUp">Produccion de Eventos</h2>
								</div>
							</div>
							<div class="video-wrap">
								<video id="slide-video" poster="../../assets/images/videos/explore.jpg" preload="auto" loop autoplay muted>
									<source src='../../assets/images/videos/explore.webm' type='video/webm' />
									<source src='../../assets/images/videos/explore.mp4' type='video/mp4' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
					</div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="heading-block container">
					<h1>Produccion de eventos</h1>
				</div>
				<div class="container clearfix">				
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus nulla illum consequuntur non, accusantium rerum quaerat? Amet architecto doloremque dicta dolore distinctio aut eos soluta tempora eum? Vero, voluptatum iste?</p>
				</div>

				<div class="container clearfix">

					<!-- Portfolio Filter
					============================================= -->
					<ul class="portfolio-filter clearfix" data-container="#portfolio">

						<li class="activeFilter"><a href="#" data-filter="*">Ver todas</a></li>
						<li><a href="#" data-filter=".año-nuevo">Año Nuevo</a></li>
						<li><a href="#" data-filter=".primavera">Primavera</a></li>

					</ul><!-- #portfolio-filter end -->

					<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container clearfix">

						<article class="portfolio-item año-nuevo">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="https://picsum.photos/400/300" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="https://picsum.photos/400/300" class="left-icon" data-lightbox="image" title="IMage"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Foto #1</a></h3>
								<span><a href="#">Bahia Blanca</a></span>
							</div>
						</article>
						<article class="portfolio-item primavera">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="https://picsum.photos/400/300" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="https://picsum.photos/400/300" class="left-icon" data-lightbox="image" title="IMage"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Foto #2</a></h3>
								<span><a href="#">Bahia Blanca</a></span>
							</div>
						</article>
						<article class="portfolio-item año-nuevo">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="https://picsum.photos/400/300" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="https://picsum.photos/400/300" class="left-icon" data-lightbox="image" title="IMage"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Foto #3</a></h3>
								<span><a href="#">Bahia Blanca</a></span>
							</div>
						</article>
						<article class="portfolio-item primavera">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="https://picsum.photos/400/300" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="https://picsum.photos/400/300" class="left-icon" data-lightbox="image" title="IMage"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Foto #4</a></h3>
								<span><a href="#">Bahia Blanca</a></span>
							</div>
						</article>

					</div><!-- #portfolio end -->
				</div>	

                <div id="calltoaction" class="section nobottommargin ">
                    <div class="container clear-bottommargin clearfix">
                
                        <div class="row clearfix">
                            <div class="col-12 col-md-10">
                                <p class="lead"><strong>Ofrecemos al artista que busca crecer un abanico de recursos y oportunidades para abrirse camino en el mundo de la música.</strong></p>
                            </div>
                            <div class="col-12 col-md-2">
                                <a href="#" class="button button-border button-dark button-rounded button-large noleftmargin">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>            
			</div>

		</section><!-- #content end -->